---
import FormLogin from "../components/FormLogin.jsx";
import FormUserLayout from "../layouts/FormUserLayout.astro";
---

<FormUserLayout>
  <h1 class="text-3xl font-bold">Login</h1>
  <FormLogin client:load button="Login" />
</FormUserLayout>
