---
import FormLogin from "../components/FormLogin.jsx";
import FormUserLayout from "../layouts/FormUserLayout.astro";
---

<FormUserLayout>
  <a href="/" class="absolute top-10 left-5 border border-white rounded-full p-2">
    <img src="/arrow.svg" alt="arrow go home" class="w-5" />
  </a>
  <h1 class="text-3xl font-bold">Login</h1>
  <FormLogin client:load button="Login" />
</FormUserLayout>
